---
interface Props {
  name: string;
  count: number;
  imageUrl: string;
  buyPrice: number;
  currentPrice: number;
  currency: string;
  incomePercentage: number;
  incomeAmount: number;
  style?: string;
}
const {
  name,
  count,
  imageUrl,
  buyPrice,
  currentPrice,
  currency,
  incomePercentage,
  incomeAmount,
  style = "",
} = Astro.props;
---

<div class="portfolio-item" style={style}>
  <div class="item-header">
    <h3
      hx-get=`/partials/portfolio-item/${encodeURIComponent(name)}`
      hx-target="#item-details-container"
      hx-trigger="click"
      hx-indicator="#drawer-skeleton"
      hx-swap="transition:false"
      hx-on:click="showDrawer()"
      class="clickable-item-name"
    >
      {name}
    </h3>
    <div
      class={`item-quantity-badge ${count < 10 ? "single-digit" : ""}`}
      data-value={count}
    >
      {count}
    </div>
  </div>
  <div class="item-details">
    <div class="item-image-container">
      <img class="item-image" src={imageUrl} alt={name} />
    </div>
    <div class="item-price-info">
      <div class="item-detail">
        <span class="detail-label">Buy Price:</span>
        <span class="detail-value detail-value-custom"
          >{buyPrice} {currency}</span
        >
      </div>
      <div class="item-detail">
        <span class="detail-label">Current Price:</span>
        <span class="detail-value detail-value-custom"
          >{currentPrice} {currency}</span
        >
      </div>
    </div>
    <div class="item-profit-info">
      <div class="item-detail">
        <span class="detail-label">Profit %:</span>
        <span
          class={`detail-value detail-value-custom income-percentage ${incomePercentage >= 0 ? "profit-positive" : "profit-negative"}`}
          data-value={incomePercentage}
        >
          {incomePercentage >= 0 ? "+" : ""}{incomePercentage}%
        </span>
      </div>
      <div class="item-detail">
        <span class="detail-label">Profit:</span>
        <span
          class={`detail-value detail-value-custom income-amount ${incomeAmount >= 0 ? "profit-positive" : "profit-negative"}`}
          data-value={incomeAmount}
        >
          {incomeAmount >= 0 ? "+" : ""}{incomeAmount}
          {currency}
        </span>
      </div>
    </div>
  </div>
</div>

<script>
  window.showDrawer = function () {
    const drawerContent = document.getElementById("drawer-content");
    if (drawerContent) {
      drawerContent.scrollTop = 0;
    }

    const drawer = document.getElementById("drawer");

    if (!drawer?.classList.contains("open")) {
      const scrollY = window.scrollY;

      document.body.style.position = "fixed";
      document.body.style.top = `-${scrollY}px`;
      document.body.style.width = "100%";

      document.body.dataset.scrollY = scrollY;

      drawer?.classList.add("open");
      document.getElementById("overlay")?.classList.add("active");
      if (window.app.isVerticalSwipesEnabled) {
        window.app.disableVerticalSwipes();
      }
    }
    window.app.SecondaryButton.setText("Hide");
    window.app.SecondaryButton.onClick(window.hideDrawer);
    if (!window.app.SecondaryButton.isVisible) {
      window.app.SecondaryButton.show();
    }
  };

  window.hideDrawer = function () {
    // Blur any active input elements to close the mobile keyboard
    if (document.activeElement instanceof HTMLElement) {
      document.activeElement.blur();
    }

    if (window.app.SecondaryButton.isVisible) {
      window.app.SecondaryButton.hide();
      window.app.SecondaryButton.offClick();
    }
    document.getElementById("drawer")?.classList.remove("open");
    document.getElementById("overlay")?.classList.remove("active");

    const scrollY = document.body.dataset.scrollY;
    document.body.style.position = "";
    document.body.style.top = "";
    document.body.style.width = "";
    window.scrollTo(0, parseInt(scrollY || "0"));

    if (!window.app.isVerticalSwipesEnabled) {
      window.app.enableVerticalSwipes();
    }

    window.app.MainButton.offClick();
    window.app.MainButton.setText("Add deal");
    window.app.MainButton.onClick(() => {
      window.location.href = "/add-deal/";
    });
  };
</script>
